<html>

<head>
    <title>first page</title>
</head>

<body>
    <table border="1" width="600px" style="border:0px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <td colspan="1"><b>
                    <font size="+5">&nbsp;<strong>X Company</font>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="home.html">Home</a>
                    | <a href="login.html">Login </a>|<a href="registration.html"> Registration</a></td>

        </tr>
        <tr>
            <td style="height : 200px; vertical-align:middle">
                <font size="+2"><strong>&nbsp;<strong>Welcome to xCompany</font>
            </td>

        </tr>
        <tr>
            <td align="center">Copyright © 2017 </td>
        </tr>



</html>