<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table Example</title>
   
</head>

<body>
    <h2 align="center" >Transaction History</h2>
    <table border="1" align="center">
        <tr>
            <th bgcolor="0050ef">Transaction Type</th>
            <th bgcolor="0050ef">Amount</th>
            <th bgcolor="0050ef">Date & Time</th>
        </tr>
        <tr>
            <td>Top Up</td>
            <td>Row 1, Column 2</td>
            <td>Row 1, Column 3</td>
        </tr>
        <tr>
            <td>Withdrawn</td>
            <td>Row 2, Column 2</td>
            <td>Row 2, Column 3</td>
        </tr>
        <tr>
            <td>Row 3, Column 1</td>
            <td>Row 3, Column 2</td>
            <td>Row 3, Column 3</td>
        </tr>
    </table>
</body>

</html>
